.text-align-center{
    text-align: center;
}

 .font-size-25{
     font-size: 25px;
 }

 .font-color-grey{
    color:grey;
 }

h1{
    color: blue;
    text-align:center;
    text-decoration: underline;
    padding:15px;
}


body{
    background-color:ghostwhite;
    border:grey;
    border-style: solid;
    margin-left:auto;
    margin-right:auto;
}